.order-section {
  background: url("../img/icons/order_sec.svg") no-repeat ;
  background-size: 100%;
  
  &:before {
  content: url("../img/decor/backberries.png");
  position: absolute;
  right: 0;
  bottom: 20%;
  }

  &:after {
  content: url("../img/icons/one-berry.svg");
  position: absolute;
  left: 10%;
  bottom: 2%;
  }
}